TWILIO_AUTH=TWILIO_AUTH_VAR
PHONE_NUMBERS=PHONE_NUMBERS_VAR
CAT_API_KEY=CAT_API_KEY_VAR
QUOTE_API_KEY=QUOTE_API_KEY_VAR

ERROR_REPORT_ENABLED=true
ERR_NOTIFICATION_TOPIC=logyball_cotd_err
ENVIRONMENT=prod
PUSH_TO_PROMETHEUS=false
